p{
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
body{
    margin: 0;
    padding-top: 80px;
    padding-right: 24px;
    padding-left: 24px;

}