.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger-menu{
    height: 35px;
    margin-left: 24px;
    margin-right: 35px;
    cursor: pointer;
}
.logo{
height: 70px;
width: 125px;
cursor: pointer;
}
.mid-section{
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 70px;
     margin-right: 30px;
     max-width: 500px;
}
.search-bar{
    flex: 1;
    height: 34px;
    width: 0;
    padding-left: 10px;
    margin-left: 10px;
    border-width: 0.4px;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 2px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.15)  ;
}
.search-bar::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.search-button{
    height: 37px;
    width: 40px;
    background-color:rgb(244, 242, 242) ;
    border-width: 1px;
    border-style: solid;
    border-color: lightgrey;
    margin-left: -1.1px;
    cursor: pointer;
    position: relative;
}
.search-button.tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
     border-radius: 2px;
     font-size: 12px;
    bottom: -30px;
}
.search-icon{
    height: 25px;
    margin-top: 1px;
}
.right-section{
    margin-left: 35px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    flex-shrink: 0;
    cursor: pointer;
}
.delivery-icon{
    height: 35px;
}
.map-icon{
    height: 35px;
}
.cart-icon{
    height: 35px;
}
.user-icon{
    height: 35px;
    
}
