.item{
    margin-bottom: 12px;
}
.thumbnail{
    width: 100%;
}

 .item-title{
    margin-top: 0%;
  line-height: 30px;
  margin-bottom: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
  font-weight: lighter;
 }

.item-price{
    margin-bottom: 4px;
    font-size: 25px;
}
.item-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}